@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Staatliches&family=Yellowtail&display=swap');

*{
    padding: 0px;
    margin: 5px;
    box-sizing: border-box;
    color: white;
}
.container{
    border: 2px solid purple;
    padding: 15px;
    display: flex;
   /* width: 500px;*/
    height: 400px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap-reverse;
}
:root{
    --cor_botoes_h2_texto:#ffae00;
    --arredondamento_bordas:10px;
    --minha_fonte:   "Staatliches", sans-serif;;
}

body{
    background-image: url(images/bg.png);
    /* descomente para aplicar uma imagem sem repetição*/
    /*background-repeat: repeat;
    background-size: cover;
    */
    text-align: center;
    fle

}
header{
    background-color: #1e1f22;
    text-align: center;
    padding: 15px;
}
nav a{
    color: white;
    margin: 0px 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--minha_fonte);
}
.logo{
    width: 250px;
    }
.imagemproduto{
    width: 400px;
}
h1{
    text-transform: uppercase;
}
h2{
    color: var(--cor_botoes_h2_texto);
    text-align: center;
}
.boxproduto{
    display: flex;
    flex-direction: row;
    background-color: rgba(37, 37, 37, 0.8);
    width: 850px;
    margin: 0px auto;
    border-radius: var(--arredondamento_bordas);
}
.boximagem , .boxtexto{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}
.boxtexto{
    width: 400px;
    text-align: start;
    justify-content: center;
}
h1, h2, h3 button{
    margin: 10px 0px;
}
button{
    background-color: var(--cor_botoes_h2_texto);
    padding: 15px;
    border: none;
    border-radius:var(--arredondamento_bordas);
    width: 150px;
    cursor: pointer;
}
